*{
    margin: 0px;
}
body{
    min-width: 1366px;
}
.navbar{
    position: absolute;
    width: 26%;
    height: 100vh;
    background-color: #333f49;
}
.space{
    height: 29px;
}
.user{
    height: 15%;
    position: relative;
}

.user .avt img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: 'Newsreader', serif;
    padding: 9px;
}

.user .user-info p{
    padding-top: 10%;
    padding-left: 10%;
    font-size: 20px;
    font-weight: bold;
    font-family: arial, sans-serif;
}

.user .user-info .acc a{
    margin-right: 6%;
    cursor: pointer;
}
.avt img{
    width: 90%;
    height: 90%;
    padding: 5%;
}
.menu{
    height: 85%;
    position: relative;
}
.ending{
    position: absolute;
    bottom: 2%;
    left: 20%;
}
.single-menu , .dropdown-menu{
    border-bottom: 1px solid gray ;
    min-height: 7%;
    margin:0 5%;
    transition: 0.4 s;
    margin-top: 2%;
}
.drop{
    width: 100%;
    display: block;
    position: relative;
}
.drop img{
    display: none;
    position:absolute;
    right: 10%;
    top: 28%;
    width: 14px;
    height: 14px;
    
}
.single-menu:hover , .dropdown-menu:hover{
    background-color: #00aae1;
}
.dropdown-menu:hover .dropdown-content{
    background-color: #333f49;
}
.dropdown-menu:hover .drop img{
    display: block;
}
.dropdown-content{
    border-top: 1px solid gray;
    display: none;
    text-align: center;
    margin-top: 15px;
    width: 100%;
}
.acc a:hover{
    opacity: 1.1;
    text-decoration: underline;
}
.click{
    display: block;
}
.dropdown-content a{
    display: block;
}
.dropdown-content a:hover{
    background-color: #00aae1;
}
.close{
    display: none;
}
@media (min-width: 1366px){
    .menu-mini{
        display: none;
    }
    .user .avt{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30%;
        height: 100%;
    }
    .user .user-info{
        position: absolute;
        text-align: left;
        height: 100%;
        top: 0px;
        left: 30%;
        width: 70%;
    }
    .user .user-info .acc{
        padding-top: 4%;
        padding-left: 10%;
    }
}
@media (max-width: 415px){
    .close img{
        width: 16px;
        height: 16px;
    }
    .close{
        display: block;
        position: absolute;
        right: 4px;
        top: 15%;
    }
    .navbar{
        transition: 1.2s;
        z-index: 1;
    }
    .hiden{
        display: none;
        transition: 0.7s;
    }
    .menu-mini{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10%;
        height: 100%;
    }
    .menu-mini img{
        padding: 5px;
        width: 16px;
        height: 16px;
    }
    .space{
        height: 9px;
    }
    a{
        font-size: 8px;
        padding: 6px;
    }
    .avt{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40%;
        height: 40%;
    }
    .user .user-info{
        position: absolute;
        text-align: left;
        top: 50%;
        left: 0px;
        width: 100%;
    }
    .user-info a{
        display: none;
    }
    .acc a{
        padding: 0px 4px;
        font-size: 8px;
        font-weight: bold;
    }
    .avt img{
        width: 64px;
        height: 64px;
    }
    .ending{
        position: absolute;
        bottom: 2%;
        left: 2%;
    }
    .ending p{
        text-align: center;
        font-size: 4px;
    }
    .user-info{
        left: 0%;
        width: 100%;
    }
    .drop img{
        width: 8px;
        height: 8px;
        right: 20%;
    }
}

